.comment {
  border: 1px solid lightgrey;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 254px;

  &__form {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__text {
    border: 1px solid grey;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 5px;
  }

  &__word {
    font-weight: 600;
    font-size: 14px;
  }
  
  &__image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }

  &__name {
    font-size: 18px;
    font-weight: 600;
  }

  &__data {
    font-size: 12px;
  }
}