@import "../../styleUtils/mixins.scss";

.cafeBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &__title {
    margin-bottom: 40px;
  }

  &__cards {
    display: flex;
    gap: 36px;
    flex-direction: column;

    @include onTablet {
      flex-direction: row;
      gap: 24px;
    }

    @include onDesktop {
      gap: 80px;
    }
  }
}