.logo {
  display: flex;
  align-content: center;
  transition-duration: 0.3s;

  &__img {
    display: block;
    background-image: url(../../assets/logo-icon.svg);
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    background-size: 64px;
  }

  &:hover {
    transform: scale(1.05);
  }
}