@import "../../styleUtils/mixins.scss";

.footer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 24px;

  @include onTablet {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include onTablet {
      flex-direction: row;
      gap: 30px;
    }

    @include onDesktop {
      gap: 50px;
    }
  }

  &__item {
    font-weight: 600;
    justify-content: center;
    display: flex;
  }

  &__link {
    color: #313237;
  }

  &__logo {
    display: flex;
    justify-content: center;
  }

  &__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
  }

  &__icon {
    display: block;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 40px;

    transition-duration: 0.3s;

    &:hover {
      transform: scale(1.05);
    }

    &--facebook {
      background-image: url(../../assets/facebook-icon.svg);
    }

    &--inst {
      background-image: url(../../assets/inst-icon.svg);
    }

    &--twitter {
      background-image: url(../../assets/twitter-icon.svg);
    }
  }
}