@import "../../styleUtils/mixins.scss";

.cafeCardPage {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    margin-top: 36px;
  }

  &__slider {
    display: flex;
    flex-direction: row;
  }

  &__images {
    height: 260px;
    width: 260px;
    position: relative;

    @include onLargeMobile {
      height: 300px;
      width: 380px;
    }

    @include onTablet {
      height: 400px;
      width: 600px;
    }

    @include onDesktop {
      height: 400px;
      width: 800px;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    height: 260px;
    width: 260px;
    opacity: 0;
    transition: opacity 0.5s ease-in;

    @include onLargeMobile {
      height: 300px;
      width: 380px;
    }

    @include onTablet {
      height: 400px;
      width: 600px;
    }

    @include onDesktop {
      height: 400px;
      width: 800px;
    }
  }

  &__img {
    width: 260px;
    height: 260px;
    object-fit: cover;

    @include onLargeMobile {
      height: 300px;
      width: 380px;
    }

    @include onTablet {
      height: 400px;
      width: 600px;
    }

    @include onDesktop {
      height: 400px;
      width: 800px;
    }
  }

  &__button {
    background-color: #FAFBFC;
    cursor: pointer;
    width: 36px;
    transition: all 0.3s ease-out;

    &:hover {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }

  &__district {
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    gap: 20px;
  }

  &__text {
    font-weight: 700;
  }

  &__value {
    text-decoration: underline;
  }
}